## **This Colab notebook provides a quick introduction to the Python programming language.**

### Basic Syntax for statements

Here are some some basic rules for writing simple statments and expressions in Python:
1. No spaces or tab characters allowed at the start of a statement: Indentation plays a special role in Python
2. The '#' character indicates that the rest of the line is a comment

### Basic Types

Python has an automatic type-determining system.
Based on what you enter, Python will automatically interpret it as either a number (float or integer), boolean (True or False), or a string of characters.

In [1]:
2.0           # a simple floating point number
-1234567890   # an integer
True or False # the two possible boolean values
'This is a string' # a string

'This is a string'

###  Variables & Values

In [2]:
x = 1             # number 1 is stored in variable x
y = 2             # number 2 is stored in variable y
z = 'hello'       # the string 'hello' is stored in variable z

print(x+y, z)

3 hello

### Operators

(1) '+' Addition

(2) '-' Substraction

(3) '/'   Division

(4) '//'  Integer Division

(5) '%'   Modulus(remainder)

(6) '*'   Multiplication 

(7) '**'  Exponentiation(power)

In [3]:
1 + 2

3

In [4]:
3 - 1

2

In [5]:
3 / 4

0.75

In [6]:
3 // 4

0

In [7]:
3 % 4

3

In [8]:
3 * 4

12

In [9]:
3 ** 4

81

### Relational Operators

(1) '=='  True, if it is equal

(2) '!='  True, if not equal to

(3) '<'   less than

(4) '>'   greater than

(5) '<='  less than or equal to

(6) '>='  greater than or equal to

In [10]:
z = 2
z == 2

True

In [11]:
z > 2

False

### Boolean Operators

(1) 'and' logic and

(2) 'or' logic or

In [12]:
x = 2
y = 3

x == 2 and y == 2

False

In [13]:
x = 2
y = 3

x == 2 or y == 2

True

### Control Flow Statements

In [14]:
# if statement
x = 5
if x > 2:
    print('x greater than 2')
else:
    print('x smaller or equal than 2')

x greater than 2

In [15]:
# for loop
for i in range(0,9):
    print(i)

0
1
2
3
4
5
6
7
8

### Tuples and Lists

In order to store data, we can do it either in a tuple or a list. A tuple is enclosed in (), while a list is enclosed in [].

A list can be edited while a tuple is fixed (also known as immutable).

Note that a tuple and list need not only store one kind of type - it can store multiple types.

In [16]:
mytuple = (1, 2, 3)
print(mytuple)

(1, 2, 3)

In [17]:
# you cannot change tuple elements
mytuple[0] = 3          # This will produce an error

TypeError: 'tuple' object does not support item assignment

In [18]:
mylist = [1, 2, 3]
print(mylist)

[1, 2, 3]

In [19]:
mylist[0] = 'hello'
print(mylist)

['hello', 2, 3]

In [20]:
mylist.append(5.0)
print(mylist)

['hello', 2, 3, 5.0]

### Looping is fun and fast! Here are two more examples.

In [21]:
mytuple = ("apple", "banana", "cherry")

for x in mytuple:
  print(x)

apple
banana
cherry

In [22]:
mystr = "banana"

for x in mystr:
  print(x)

b
a
n
a
n
a

In [23]:
# while loop

i = 1
while i < 3:
    print(i ** 2)
    i = i+1
print('Bye')

1
4
Bye

### The second cool idea is list comprehension. 
#### List comprehension is a fast compact way of building for loops.
Check out: https://www.pythonforbeginners.com/basics/list-comprehensions-in-python

Let's first solve a problem without list comprehension. <br>
The following code generates the square of the integers from 0 to 10. <br>
Notice the clean for-loop.

In [24]:
# L is my list to hold the answers
L = []
for n in range(11):
    L.append(n ** 2)
L

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Here is the Pythonic way of doing it via list comprehension.

In [25]:
[n ** 2 for n in range(11)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

You can even condition on the iterator! <br>
Here is code for computing the squares of the even numbers <br>
and code for computing the squares of the odd numbers <br>

In [26]:
[n ** 2 for n in range(11) if n % 2 == 0]

[0, 4, 16, 36, 64, 100]

In [27]:
[n ** 2 for n in range(11) if n % 2 > 0]

[1, 9, 25, 49, 81]